<form action="{% url 'product_list' %}"
      method="get"
      style="display:flex;
             background:#fff;
             color: black;
             border-radius:4px;
             overflow:hidden">
    <input type="text"
           name="search"
           value="{{ request.GET.search }}"
           placeholder="Search..."
           style="border:none;
                  padding:5px 10px;
                  outline:none">

    <button type="submit"
            style="border:none;
                   background:#ff6600;
                   color:#fff;
                   padding:5px 10px;
                   cursor:pointer">🔍</button>
</form>
