<div class="wrapper">
  <!--sidebar wrapper -->
  <div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div>
        <!-- <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon" /> -->
      </div>
      <div>
        <h4 class="logo-text">Khwopa</h4>
      </div>
      <div class="toggle-icon ms-auto">
        <i class="bx bx-first-page"></i>
      </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      <li>
        <a href="{% url 'dashboard_admin' %}" class="">
          <div class="parent-icon">
            <i class="bx bx-home"></i>
          </div>
          <div class="menu-title">Dashboard</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <i class="bx bx-package"></i>
          </div>
          <div class="menu-title">eCommerce</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'product_list_admin' %}"><i class="bx bx-right-arrow-alt"></i>Products</a>
          </li>
          <li>
            <a href="{% url 'category_list_admin' %}"><i class="bx bx-right-arrow-alt"></i>Category</a>
          </li>
          <li>
            <a href="{% url 'brand_list_admin' %}"><i class="bx bx-right-arrow-alt"></i>Brands</a>
          </li>
          <li>
            <a href="{% url 'color_list_admin' %}"><i class="bx bx-right-arrow-alt"></i>Color</a>
          </li>
          <li>
            <a href="{% url 'size_list_admin' %}"><i class="bx bx-right-arrow-alt"></i>Size</a>
          </li>
          <li>
            <a href="{% url 'tag_list_admin' %}"><i class="bx bx-right-arrow-alt"></i>Tags</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <i class="bx bx-cart-alt"></i>
          </div>
          <div class="menu-title">Orders</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'admin_order_received_list' %}" class="bg-warning "><i class="bx bx-cart-alt"></i>Order Received ({{Received}})</a>
          </li>
          <li>
            <a href="{% url 'admin_order_processing_list' %}" class="bg-primary "><i class="bx bx-cart-alt"></i>Order Processing ({{Processing}})</a>
          </li>
          <li>
            <a href="{% url 'admin_order_ontheway_list' %}" class="bg-info "><i class="bx bx-cart-alt"></i>On the way ({{way}})</a>
          </li>
          <li>
            <a href="{% url 'admin_order_complete_list' %}" class="bg-success "><i class="bx bx-cart-alt"></i>Order Completed ({{Completed}})</a>
          </li>
          <li>
            <a href="{% url 'admin_order_cancelled_list' %}" class="bg-danger"><i class="bx bx-cart-alt"></i>Order Canceled ({{Canceled}})</a>
          </li>
        </li>
      </ul>
            <li>
        <a href="{% url 'vendor_list_admin' %}" class="">
          <div class="parent-icon">
           <i class='bx  bx-user-circle'  ></i> 
          </div>
          <div class="menu-title">Vendor</div>
        </a>
      </li>

  </ul>
  <!--end navigation-->
</div>
<!--end sidebar wrapper -->
<!--start header -->
{% include 'admin_dash/nav/header.html' %}
<!--end header -->
<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button-->
<a href="javaScript:;" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
<!--End Back To Top Button-->
</div>
