{% extends 'admin_dash/base.html' %} {% load static %} {% block content %}
<!--start page wrapper -->
<div class="page-wrapper">
  <div class="page-content">
    {% include 'admin_dash/dashboard/others/top_card.html' %}
    <!--end row-->

    {% include 'admin_dash/dashboard/others/monthly_revenue.html' %}
    {% include 'admin_dash/dashboard/others/history.html' %}
    <!--end row-->

    <!--end row-->

    <div class="row row-cols-1 row-cols-lg-3">
      {% include 'admin_dash/dashboard/others/best_selling.product.html'%}
      {% include 'admin_dash/dashboard/others/recent_reviews.html' %}
      {% include 'admin_dash/dashboard/others/support_indox.html' %}
    </div>
    <!--end row-->
    {% include 'admin_dash/dashboard/others/recent_orders.html' %}
  </div>
</div>
<!--end page wrapper -->
{% endblock %}