{% extends 'customer/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="page-content">
    <div class="container mt-5" style="margin-top: 40px;">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="color:white;">Change Password</h4>
                    </div>

                    <div class="panel-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 15px;">
                                Save Changes
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
