
{% if related_products %}

{% for related in related_products %}
    <div class="single-product">
        <div class="product-photo">
            <a href="{% url 'product_detail' related.slug %}">
                <img class="primary-photo"
                     src="{{ related.product_images.first.image.url }}"
                     alt="{{ related.name }}"
                     alt="" />
                {% if related.product_images.all|length > 1 %}
                    <img class="secondary-photo"
                         src="{{ related.product_images.all.1.image.url }}"
                         alt="{{ related.name }}"
                         alt="" />
                {% endif %}
            </a>
            <div class="pro-action">
                <a href="{% url 'add_to_cart' related.pk %}" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
            </div>
        </div>
        <div class="product-brief">
            <h2>
                <a href="{% url 'product_detail' related.slug %}">{{ related.name }}</a>
            </h2>
            <h3>{{ related.current_price }}</h3>
            <h6>
                Tags:
                {% for tag in related.tag.all %}{{ tag.name }},{% endfor %}
            </h6>
<h6>
    Category: {{ related.category.name }}
</h6>

        </div>
    </div>
{% endfor %}
{% else %}
    <p>No related products found.</p>
{% endif %}
