<div class="col d-flex">
  <div class="card radius-10 w-100">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div>
          <h6 class="font-weight-bold mb-0">Recent Reviews</h6>
        </div>
        <div class="dropdown ms-auto">
          <div
            class="cursor-pointer text-dark font-24 dropdown-toggle dropdown-toggle-nocaret"
            data-bs-toggle="dropdown"
          >
            <i class="bx bx-dots-horizontal-rounded"></i>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javaScript:;">Action</a>
            <a class="dropdown-item" href="javaScript:;">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javaScript:;">Something else here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="recent-reviews p-3 mb-3">
      {% for review in recent_reviews %}
      <div class="d-flex align-items-center">
        <div class="product-img">
          {% with review.product.product_images.first as image %} {% if image %}
          <img
            src="{{ image.image.url }}"
            class="p-1"
            alt="{{ review.product.name }}"
          />

          {% endif %} {% endwith %}
        </div>
        <div class="ps-3">
          <h6 class="mb-0 font-weight-bold">
            {{review.user.full_name}} Review ({{review.product.name}})
          </h6>
        </div>
        <p class="ms-auto mb-0">
          <i class="bx bxs-star text-warning mr-1"></i> {{review.rating}}
        </p>
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
