<div class="card radius-10">
  <div class="card-header border-bottom-0 bg-transparent">
    <div class="d-flex align-items-center">
      <div>
        <h5 class="font-weight-bold mb-0">Recent Orders</h5>
      </div>
      <div class="ms-auto">
        <button type="button" class="btn btn-white radius-10">View More</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0 align-middle">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Product Name</th>
            <th>Customer</th>
            <th>Order id</th>
            <th>Total Price</th>
            <th>Order Date</th>

            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in new_orders %}

          <tr>
            <td>
              {{forloop.counter}}
            </td>
            <td>
              <ul>
                {% for cp in order.cart_products.all %}
                <li>
                  {{ cp.product.name }} — Quantity: {{ cp.quantity }}, Price: Rs {{ cp.subtotal }}
                </li>
                {% endfor %}
              </ul>
            </td>
            <td>{{order.user.full_name}}</td>
            <td>#{{order.id}}</td>
            <td>Rs {{order.total}}</td>
            <td>{{order.created_at}}</td>
            <td>
              <a href="javascript:;" class="btn btn-sm radius-30
          {% if order.order_status == 'Order Received' %}btn-secondary
          {% elif order.order_status == 'Order Processing' %}btn-info
          {% elif order.order_status == 'On the way' %}btn-primary
          {% elif order.order_status == 'Order Completed' %}btn-success
          {% elif order.order_status == 'Order Canceled' %}btn-danger
          {% else %}btn-light
          {% endif %}">
                {{ order.order_status }}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>